{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('About'), controller='home', action='about' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
        <h1 class="page-heading">{{ _('About') }}</h1>

        <p>Please see the <a href="http://www.healthdata.gov/unleashing-power-data-and-innovation-improve-health">About page on HealthData.gov</a>.</p>
    </div>
  </article>
{% endblock %}

{% block sidebar %}{% endblock %}
