{% extends "page.html" %}

{% block subtitle %}{% endblock %}

{% block maintag %}{% endblock %}

{% block content %}
  <div role="main" class="hero">
    <div id="content" class="container">
      {{ self.flash() }}
      {{ self.primary_content() }}
    </div>
  </div>
  <div class="main">
    <div class="container">
      {{ self.secondary_content() }}
    </div>
  </div>
{% endblock %}

{% block primary_content %}
  <div class="hero-primary module module-popup">
    <div class="module-content">
      {% block home_primary %}
        <header>
          {% if g.site_intro_text %}
          {{ h.render_markdown(g.site_intro_text) }}
          {% else %}
            {% block home_primary_content %}
              <h1 class="page-heading">Welcome to the HealthData.gov Catalog Hub</h1>
              <p>Throughout the U.S. Department of Health &amp; Human Services, agencies and programs are making substantial efforts to provide data and tools to use HHS information in new ways.</p>
              <p>This website provides advanced access to the HHS data catalog, including an API that provides software developers with programmatic access to the contents of the data catalog [<a href="http://www.healthdata.gov/catalog-api">documentation</a>].
            {% endblock %}
          {% endif %}
        </header>
      {% endblock %}

    </div>
  </div>
  <div class="hero-secondary">
    <div class="hero-secondary-inner">
      {% block home_secondary_content %}
        {% block home_search %}
          <div class="module module-shallow module-narrow module-dark info">
            <form class="dataset-search module-content clearfix" method="get" action="{% url_for controller='package', action='search' %}">
              <h3 class="heading">Search Datasets</h3>
              <span class="control-group search-giant">
                <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="e.g. child health" />
                <button type="submit" value="{{ _('Search') }}">Submit</button>
              </span>
            </form>
          </div>
        {% endblock %}

        {% block home_tags %}
          <div class="tags">
            <h3 class="tag">Popular {{ c.facet_titles.name }}</h3>
            {% set tags = h.get_facet_items_dict('tags', limit=3) %}
            {% snippet 'snippets/tag_list.html', tags=tags %}
          </div>
        {% endblock %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="group-listing">
    {% for group in c.group_package_stuff %}
      {% snippet 'snippets/group_item.html', group=group.group_dict, truncate=100 %}
    {% endfor %}
  </div>
{% endblock %}

{# Remove the toolbar. #}
{% block toolbar %}{% endblock %}
