{# 
Renders the login banner.

Example:

  {% snippet "user/snippets/login_banner.html" %}
#}
  <p>You are accessing a U.S. Government information system. This information system is provided for U.S. Government-authorized use only.</p>
  <p>Unauthorized or improper use of this system may result in disciplinary action, as well as civil and criminal penalties.</p>
  <p>By using this information system, you understand and consent to the following:</p>
  <p>
    <ol>
      <li>You have no reasonable expectation of privacy regarding any communication or data transiting or stored on this information system. At any time, and for any lawful Government purpose, the government may monitor, intercept, and search and seize any communication or data transiting or stored on this information system.</li>
      <li>Any communication or data transiting or stored on this information system may be disclosed or used for any lawful Government purpose.</li>
    </ol>
  </p>
