<footer class="site-footer">
  <div class="container">
  
  	<p style="margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccdee3;">A federal government website managed by the U.S. Department of Health &amp; Human Services.<br/>
  	200 Independence Avenue, S.W. - Washington, D.C. 20201</p>

    {% block footer_content %}
      <nav class="footer-links row-fluid">
        {% block footer_nav %}
          <ul class="unstyled row-fluid">
            {% block footer_links %}
              <li>This site is a part of <a href="http://www.healthdata.gov" style="font-weight: bold">HealthData.gov</a>.</li>
              <li>You can also access this catalog using the <a href="http://www.healthdata.gov/catalog-api" style="font-weight: bold">API</a>.</li>
            {% endblock %}
          </ul>
        {% endblock %}
      </nav>
      <div class="attribution">
		<a href="http://www.healthdata.gov/about-healthdatagov">About Us</a>
		* <a href="http://www.hhs.gov/Accessibility.html">Accessibilty</a>
		* <a href="http://www.hhs.gov/Privacy.html">Privacy Policy</a>
		* <a href="http://www.hhs.gov/open/recordsandreports/plainwritingact/index.html">Plain Writing</a>
		* <a href="http://www.hhs.gov/Disclaimer.html">Disclaimers</a>
		* <a href="http://www.hhs.gov/asa/eeo/no_fear_bullet_3.html">No FEAR</a>
		* <a href="http://www.hhs.gov/open/">HHS.gov/Open</a>
		* <a href="http://www.hhs.gov/foia/">FOIA</a>
		* <a href="http://www.hhs.gov/">HHS.gov</a>
		* <a href="http://www.whitehouse.gov/">WhiteHouse.gov</a>
		* <a href="http://www.usa.gov/">USA.gov</a>
		* <a href="http://www.usa.gov/gobiernousa/">GobiernoUSA.gov</a>
      </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
